body{
    background-position: center;
    background-size: cover;
}
.header{
    width: 100%;
    margin: 0px;
    font-size: 30px;
}
.input_class{
    margin: 5px;
    border-radius: 5px;
    width: 20%;
    color: green;
    background-color: greenyellow;
    border: 4px dashed grey;
    font-size: 25px;
}
.object_name_label{
    font-weight: bold;
    font-size: 20px;
}
canvas{
    border-radius: 10px;
    background-color: red;
    box-shadow: 7px 7px 7px yellow;
}
p{
    color: black;
    margin-bottom: 0px;
    font-size: small;
}
.head{
    font-size: 20px;
}
#start_button_id{
    font-size: 20px;
}
#status{
    font-size: 19px;
}
#object_found{
    font-size: 19px;
}